h1{
    font-size: large;
    font-size: 70px;
    text-align: center;
    color: #00009C;
    text-shadow: 2px 2px 4px black;
}

p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: justify;
}